:root {
    --cor0: #2D75FA;
    --cor1: #BA9950;
    --cor2: #FAB92D;
    --cor3: #5571A6;
    --cor4: #7A6E53;
    --cor5: #43474F;
}

body {
    margin: 0;
    height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2em;
    background-color: var(--cor5);
    color: var(--cor2);
}

#hamburguer {
    display: none;
    padding: .4em .7em;
    background: none;
    border: 1px solid transparent;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--cor2);
    cursor: pointer;
    transition: .3s;
}

/* #hamburguer:hover {
    border-color: #7A6E53;
    text-shadow: 2px 2px 0px #7A6E53;
    box-shadow: 2px 2px 0px #7A6E53;
} */

#hamburguer > span {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: .3em;
    margin-left: .7em;
    border-top: 2px solid var(--cor2);
    transition: .5s;
}

#hamburguer > span::before,
#hamburguer > span::after {
    display: block;
    content: '';
    width: 30px;
    margin-top: .5em;
    border-top: 2px solid var(--cor2);
    transition: .5s;
}

#nav.active #hamburguer > span {
    border-top: transparent;
}

#nav.active #hamburguer > span::before {
    transform: rotate(225deg);
    margin-bottom: .20em;
}

#nav.active #hamburguer > span::after {
    transform: rotate(-225deg);
    margin-top: -.30em;
}

#menu {
    display: flex;
    gap: .5em;
    list-style: none;
}

#menu > li {
    padding: 1em 1.5em;
    border: 1px solid transparent;
    transition: .3s;
}

#menu > li:hover {
    cursor: pointer;
    border-color: #7A6E53;
    text-shadow: 2px 2px 0px #7A6E53;
    box-shadow: 2px 2px 0px #7A6E53;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
    max-width: 600px;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 1em;
    line-height: 2em;
}

main a {
    color: var(--cor1);
    font-weight: bold;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

#autor {
    font-weight: bold;
    color: var(--cor0);
}

@media (max-width: 700px) {
    .nav {
        position: relative;
    }

    #menu {
        display: block;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top: 80px;
        width: 100%;
        height: 0px;
        margin: 0;
        padding: 0;
        background-color: var(--cor5);
        transition: .4s;
    }

    #menu > li {
        text-align: right;
        margin: 0 1em;
        font-size: 1.3em;
    }

    #menu > li + li {
        border-top: 2px solid var(--cor2);
    }

    nav.active #menu {
        height: calc(100vh - 80px);
    }

    #hamburguer {
        display: flex;
        align-items: center;
    }
}